form{
    padding-top: 100px;
    
}


button{
    margin-top: 20px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#D2B4DE, #A9CCE3 );
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#D2B4DE, #A9CCE3 )
    }