.container-fluid{
    background-color:#CE93D8  ;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.row{

   
    background-color:#FCE4EC;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 10%;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

div{
    background-color:#FCE4EC ;
}
h1,h3{
    display:inline;
}
h1{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    text-align: center;
    background-color: #F8BBD0;
    padding-top: 10px;
    padding-bottom: 10px;
    
   
    
}
.card{
    background-color:#EBDEF0;
    padding-right: 20px;
    width: 600px;
    height: auto;
    transition: all 0.2s ease;
    cursor: pointer;  
    margin-top: 10px;
    margin-bottom: 25px;

}
.card-body{
    background-color:whitesmoke ;
    border-radius: 5px;
}

.card-img-bottom{
    width: 500;
    height: 300;
}
.card-header{
    background-color:#F8BBD0 ;
    text-align: center;
    border-radius: 5px;
}

.button{
    position: absolute;
}


.card:hover{

    box-shadow: 6px 6px 6px 6px #8E24AA;
    transform: scale(1.1);
}



