<!DOCTYPE html>
<html lang="en">

<body class="container-fluid">
    <section class="row">
        <a href="#" *ngIf="isLogged" class="btn btn-dark" routerLink="/newproyecto">Agregar </a>
        <h2 id="titulo"> <b>Proyectos</b></h2>

        <article class="col d-flex justify-content-around" *ngFor="let Proyecto of proyecto">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><b>{{Proyecto.nombreP}}</b></h3>
                        <p class="card-text">{{Proyecto.descripcionP}} <br>
                            <a href="https://github.com/LuuGolis?tab=repositories">Ver en GitHub</a>
                        </p>
                    </div>
                    <img class="card-img-bottom img-fluid" src={{Proyecto.imgP}} alt="Card image cap">
                    <a href="#" *ngIf="isLogged" class="btn btn-primary" routerLink="/editproyecto/{{Proyecto.id}}"><i
                            class="bi bi-pen-fill"></i> </a>
                    <a href="#" *ngIf="isLogged" class="btn btn-danger" (click)="delete(Proyecto.id)"><i
                            class="bi bi-trash-fill"></i> </a>
                </div>

        </article> <!--
           <div class="col-sm-6 col-md-8 col-lg-8" > 
            <div class="card ">
                <div class="card-body">
                    <h3 class="card-title"><b>Software Gestoría - Tecnicatura en Programación</b></h3>
                    <p class="card-text">Como proyecto de fin de curso realizamos un ABM en Visual Basic. 
                 <br>
                     <a href="https://github.com/LuuGolis/ProyectoGestoria2022">Ver en GitHub</a></p>
                </div>
                <img class="card-img-bottom" src="../../../assets/proyecto.png" alt="Card image cap">
                
                    Intenté realizar un servicio para gestionar las imagenes del apartado proyectos
                    pero comenzó a dar error al momento de aplicar los cambios y los proyectos
                    no se creaban, al no lograr conseguir corregir el error hasta el momento,
                     decidí realizar este apartado sólo con html para que no quede incompleto.
                     La creación y edición de proyectos funcionaba como todos los demás componentes,
                     únicamente al momento de aplicarle el servicio de imagenes comenzó a fallar
                     y no guardar datos en la base de datos.
                <a  href="#" *ngIf="isLogged" class="btn btn-primary" routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pen-fill"></i> </a>
                  <a  href="#" *ngIf="isLogged" class="btn btn-danger" (click)="delete(Proyecto.id)"><i class="bi bi-trash-fill"></i> </a>
                         
                </div>
            <div class="col-sm-6 col-md-8 col-lg-8" > 
                <div class="card ">
                    <div class="card-body">
                        <h3 class="card-title"><b>Protfolio web - Argentina Programa</b></h3>
                        <p class="card-text"> Realicé este protfolio web integrando los conocimientos adquiridos
                            en el programa. <br>
                         <a href="https://github.com/LuuGolis/ProyectoIntegrador">Ver en GitHub</a></p>
                    </div> 
                    <img class="card-img-bottom" src={{Proyecto.imgP}} alt="Card image cap">
                    <a  href="#" *ngIf="isLogged" class="btn btn-primary" routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pen-fill"></i> </a>
                      <a  href="#" *ngIf="isLogged" class="btn btn-danger" (click)="delete(Proyecto.id)"><i class="bi bi-trash-fill"></i> </a>
                </div>-->


    </section>
</body>

</html>