<!DOCTYPE html>
<html lang="en">

<body class="container-fluid">
    <section class="row align-items-center">
        <a href="#" *ngIf="isLogged" class="btn btn-dark" routerLink="/nuevaedu">Agregar </a>
        <h2 id="titulo">
            <b> Educación</b>
        </h2>

        <ul *ngFor="let Educacion of educacion">
            <li>
                <h2>{{Educacion.nombreE}}</h2>
                <p>{{Educacion.descripcionE}}</p>
                <a href="#" *ngIf="isLogged" class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}"><i
                        class="bi bi-pen-fill"></i> </a>
                <a href="#" *ngIf="isLogged" class="btn btn-danger" (click)="delete(Educacion.id)"><i
                        class="bi bi-trash-fill"></i> </a>
            </li>
        </ul>
    </section>
</body>
</html>