
ProyectoIntegrador/BACKEND/src/main/resources/application.properties
ProyectoIntegrador/BACKEND/target/classes/application.properties
ProyectoIntegrador/BACKEND/src/main/resources/application.properties
*.properties
