.row{
    padding:20px;
}
div{
    background-color: #CE93D8 ;
    text-align: center;
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;
}
/*foto de perfil*/
/*creación de media query para >576px y <576*/
@media(min-width:576px){
    
    /*creaciòn de etiqueta id=fotoperfil en el html */
    #fotoperfil{
        position: relative;
        width:250px;
        height: 250px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(250, 82, 110);
       
    }
}
@media(max-width:576px){
    #fotoperfil{
        position: relative;
        width:300px;
        height: 300px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(250, 82, 110);
        left:33%;
    }
}