.container-fluid{
    background-color:#CE93D8  ;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    border-bottom: whitesmoke solid 3px;
    border-radius: 5%;
}
h3,h4{
    text-align: center;
  
}
.row{
    padding:20px;

}
div{
    background-color: #CE93D8 ;
    text-align: center;
}
span{
    margin-top: 90px;
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;
}

/*foto de perfil*/
/*creación de media query para >576px y <576*/
@media(min-width:576px){
    
    /*creaciòn de etiqueta id=fotoperfil en el html */
    #fotoperfil{
        position: relative;
        width:200px;
        height: 200px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px white;
        margin-right: 20px;
        border-style: solid;
        border-color: white;
       
    }
}
@media(max-width:576px){
    #fotoperfil{
        position: relative;
        width:300px;
        height: 300px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(250, 82, 110);
        left:33%;
    }
}