<div class="container-fluid">
    <div class = "row">
     <div class="col-lg-1">
         <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
             Editar
          </button>
        
     </div>  
      
        <div class="col-3">
            <img src={{persona.img}} class="img-responsive" id="fotoperfil">

      <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
      <h4>Full Stack Developer Jr</h4>
      </div>

      <div class="col-6">
        <span>
        <h1>Acerca de mí</h1>
        <p>{{persona.acercaDe}}</p>
        </span>
      </div>
        <div class="col-2"></div>
    </div>
</div>