.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes img{
    margin: 5px;
}
#logoAp{
    width:150px;
}

img{ 
    height: 50px;
}
.btn{
    border-width: medium;
}

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 50px;
    }
}