<div class="row">
    <div class="container">
        <div class="logoAP">
            <img src="../../../assets/APlogo.png" id:logoAP>
        </div>
        <div class="redSocial">
            <div>
               <a href="/login"> <img src="../../../assets/GITHUB-LOGO.png" id:github></a>
               <a href=""><img src="../../../assets/linkedinlogo.png" id:linkedin></a>
            <button type="button"   class="btn btn-outline-light" (click)="login()">Ingreso</button>
            </div>
                
        </div>
    </div>

</div>