<!-- /* Para instalar y crear las barras de progreso en angular
chequear https://www.npmjs.com/package/ng-circle-progress */

/*showUnits=false es para sacar el %*/
 -->
 <div class="container-fluid">
    <div class="row">
       <h1><a  href="#" *ngIf="isLogged" class="btn btn-dark" routerLink="/newskill">Agregar </a>
        Hard&Soft skills</h1>
        
       <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill" >
        <circle-progress 
        [percent]="(skill.porcentaje)"
        [radius]="80"
        [showUnits]="false" 
        [showBackground]="true"
        [backgroundColor]="'#E1BEE7'"
        [showTitle]="true"
        [showSubtitle]="false"
        [title]="(skill.nombre)"
        [titleColor]="'black'"
        [titleFontSize]="'40'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#D81B60'"
        [innerStrokeColor]="'#FF80AB'"
        [animation]="true"
        [animationDuration]="500"
         ></circle-progress>
        <td *ngIf="isLogged">
            <button class ="btn btn-light" routerLink="/editskill/{{skill.id}}">
              <i class="bi bi-pen-fill"></i></button></td>

            <td *ngIf="isLogged">
              <button class ="btn btn-danger" (click)="deleteSkill(skill.id)">
                  <i class="bi bi-trash-fill"></i> </button></td>
</div>
</div>