<!-- /* Para instalar y crear las barras de progreso en angular
chequear https://www.npmjs.com/package/ng-circle-progress */

/*showUnits=false es para sacar el %*/
 -->
 <div class="container-fluid">
    <div class="row">
       <h1>Hard&Soft skills</h1>
        <div class="col-lg-2"> 
            <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Agregar</button>
        </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill" >
        <circle-progress 
        [percent]="(skill.porcentaje)"
        [radius]="100"
        [showUnits]="false" 
        [showBackground]="true"
        [backgroundColor]="'#E1BEE7'"
        [showTitle]="true"
        [title]="(skill.nombre)"
        [titleColor]="'black'"
        [titleFontSize]="'50'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#D81B60'"
        [innerStrokeColor]="'#FF80AB'"
        [animation]="true"
        [animationDuration]="300"
         ></circle-progress>
        <td *ngIf="isLogged">
            <button class ="btn btn-light" routerLink="/editskill/{{skill.id}}">
              <i class="bi bi-pen-fill"></i></button></td>

            <td *ngIf="isLogged">
              <button class ="btn btn-danger" (click)="deleteSkill(skill.id)">
                  <i class="bi bi-trash-fill"></i> </button></td>
</div>
</div>