.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background-color:#CE93D8  ;
    
}
.row{
    background-color:#FCE4EC ;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 10%;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 10px;  
}
div{
    background-color:#FCE4EC ;
}
h1{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    text-align: center;
    background-color: #F8BBD0;
    padding-top: 10px;
    padding-bottom: 10px;
}

