.container-fluid{
    background-color:#CE93D8  ;
    padding-left: 50px;
    padding-right: 50px;
    
}
.row{
    
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 5%;
    background-color:#FCE4EC  ;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 10px;
}
div{
    background-color:#FCE4EC ;
}

h1,h3{
    display:inline;
}
h1{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    text-align: center;
    background-color: #F8BBD0;
    padding-bottom: 10px;
    padding-top: 7px;
}
.card{
    
    border-color: #FCE4EC;
    transition: all 0.2s ease;
    cursor: pointer;  
    margin-top: 10px;
    margin-bottom: 20px;

  }

.card:hover{

    box-shadow: 6px 6px 6px 6px #8E24AA;
    transform: scale(1.1);
   
}
