
<div class="container-fluid">
<div class="row">
    <h1>
        <a  href="#" *ngIf="isLogged" class="btn btn-dark" routerLink="/nuevaexp">Agregar </a>
       <b> Experiencia laboral</b>
    </h1>
    
  
        <table class="table">
             <tbody *ngFor="let Experiencia of expe">
                <div class="card">
                    <div class="card-body">
                          <h2 class="card-title">{{Experiencia.nombreE}}</h2>
                          <p class="card-text">{{Experiencia.descripcionE}}</p>
                          <a  href="#" *ngIf="isLogged" class="btn btn-primary" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pen-fill"></i> </a>
                          <a  href="#" *ngIf="isLogged" class="btn btn-danger" (click)="delete(Experiencia.id)"><i class="bi bi-trash-fill"></i> </a>
                          
                     </div>
                 </div>
                
             </tbody>
    
       </table>
    </div>
</div>

