<div class="container-fluid">
    
        <div class="row" >
            <h1>
                <a  href="#" *ngIf="isLogged" class="btn btn-dark" routerLink="/nuevaedu">Agregar </a>
                Educación
            </h1>
            
          
                <table class="table">
                     <tbody *ngFor="let Educacion of educacion">
                        <div class="card">
                            <div class="card-body">
                                  <h2 class="card-title">{{Educacion.nombreE}}</h2>
                                  <p class="card-text">{{Educacion.descripcionE}}</p>
                                  <a  href="#" *ngIf="isLogged" class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pen-fill"></i> </a>
                                  <a  href="#" *ngIf="isLogged" class="btn btn-danger" (click)="delete(Educacion.id)"><i class="bi bi-trash-fill"></i> </a>
                                  
                             </div>
                         </div>
             
       
                        </tbody>
    
                    </table>
                 </div>
             </div>
             