
<div class="row">
    <h1>Educación</h1>
   
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1><h3>Año-Año</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Aspernatur quaerat dolor deleniti nulla aliquid animi 
                     rem corrupti autem neque quo odit, sequi libero, modi 
                     blanditiis beatae iure in praesentium rerum!</p>
            </li>

        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1><h3>Año-Año</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Aspernatur quaerat dolor deleniti nulla aliquid animi 
                     rem corrupti autem neque quo odit, sequi libero, modi 
                     blanditiis beatae iure in praesentium rerum!</p>
            </li>

        </ul>
    </div>

</div>
