.row{
    background-color: #8E24AA;
}
footer{
    background-color: #8E24AA;
    padding-top: 20px;
    color: #fefefe;;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px #999; /*rodea la fila en lugar 
    del texto elegir un color q combine mas*/
}