body {
    background-color: #CE93D8;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

section {
    background-color: #FCE4EC;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div {
    background-color: #FCE4EC;
}

#title {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 2%;
    text-align: center;
    background-color: #F8BBD0;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    body {padding-left: 3rem;
     padding-right: 3rem;}
   }