.row{
    background-color: #F8BBD0;
    padding: 20px;
}
.container{
    width:auto;
}
/* recordar poner p2 cuando se agregue la imagen 
y se descomente el codigo .html */
.p1{
    display:inline-block;
    text-align: justify;
}
/* sombra para la imagen :3
box-shadow: eje x eje y difumacion color 
.img-proyectos{
    box-shadow:10px 10px 30px #alguncolor;
}*/