<!-- /* Para instalar y crear las barras de progreso en angular
chequear https://www.npmjs.com/package/ng-circle-progress */

/*showUnits=false es para sacar el %*/
 -->
<div class="row">
    <h1>Hard&Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false" 
  [title]="'HTML'"
  [titleColor]="'#F8BBD0'"
  [titleFontSize]="'50'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false" 
  [title]="'HTML'"
  [titleColor]="'#F8BBD0'"
  [titleFontSize]="'50'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false" 
  [title]="'HTML'"
  [titleColor]="'#F8BBD0'"
  [titleFontSize]="'50'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false" 
  [title]="'HTML'"
  [titleColor]="'#F8BBD0'"
  [titleFontSize]="'50'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false" 
  [title]="'HTML'"
  [titleColor]="'#F8BBD0'"
  [titleFontSize]="'50'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false" 
  [title]="'HTML'"
  [titleColor]="'#F8BBD0'"
  [titleFontSize]="'50'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
</div>
<!-- Opcional mostrar imagen dentro del circle:
[imageSrc]="'../../etc asstesblablaba'" 
[showImage]= "true"
[imageWidth]="70"
[imageHeight]="70"-->