.container-fluid{
    background-color:#CE93D8  ;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.row{
    
    background-color:#FCE4EC;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
div{
    background-color:#FCE4EC ;
}
h1,h3{
    display:inline;
}
h1{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 50px, 50px;
    border-radius: 5%;
    text-align: center;
    background-color: #F8BBD0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card{
    background-color:#F8BBD0
}
.card-body{
    background-color:#E0E0E0 ;
    border-radius: 5px;
}

.card-header{
    background-color:#F8BBD0 ;
    text-align: center;
    border-radius: 5px;
}

.button{
    position: absolute;
}



