<!DOCTYPE html>
<html lang="en">

<body class="container-fluid">
<section class = "row align-items-center">
    
         <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
             Editar
          </button>  
  
        <div class="col-sm-4">
            <img src={{persona.img}} class="img-fluid" id="fotoperfil">

      <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
      <h2>Full Stack Developer Jr</h2>
      </div>

      <div class="col-sm-8" id="acercaDe">
        <span>
        <h2 id="acerca"><b>Acerca de mí</b></h2>
        <p>{{persona.acercaDe}}</p>
        </span>
      </div>

  </section>
</body>
</html>