<div class="row">
    <div class="container">
        <div class="logoAp">
         <a href=""><img src="../../../assets/APLogo1.png" id:logo>   </a>
        </div>
         <div class="redes">
                 
              <a href="https://github.com/LuuGolis"> <img src="../../../assets/github.png" id:git ></a>      
              <a href="https://www.linkedin.com/in/ludmila-golischevsky-798657219/"><img src="../../../assets/linkedin.png" id:ln></a>  

              <button type="button"   class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
              <button type="button"   class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
            </div> 
</div>
</div>
         
    
